
@{
    ViewBag.Title = "ChangePassword";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="table-responsive">

            <center>
                <h3>Change Password</h3>
            </center>
            @using (Html.BeginForm("ChangePasswordRequest", "User"))
            {
            <table class="table table-hover cover-details">
                <tr>
                    <th>Current Password: </th>
                    <td>
                        <input type="password" id="txtCurrentPassword" name="txtCurrentPassword" class="form-control" placeholder="Enter Current Password" />
                    </td>
                </tr>
                <tr>
                    <th>New Password: </th>
                    <td>
                        <input type="password" id="txtNewPassword" name="txtNewPassword" class="form-control" placeholder="Enter New Password" />
                    </td>
                </tr>
                <tr>
                    <th>Confirm Password: </th>
                    <td>
                        <input type="password" id="txtConfirmPassword" name="txtConfirmPassword" class="form-control" placeholder="Re-Enter New Password" />
                    </td>
                </tr>
            </table>
            <br />
            <center>
                <input type="submit" value="Change Now" class="btn btn-primary"/> &nbsp;&nbsp;
                <a class="btn btn-default" href="/ViewProfile">Cancel</a>
            </center>
            }
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

