
@{
    ViewBag.Title = "ViewAllDoctorsV2";
}

@section HeaderSection
{
    <style>
        .content-pane {
            padding-top: 7%;
        }
        th, td {
            text-align: center;
        }
        .modal-body {
            padding-right: 10%;
            padding-left: 10%;
        }
        .modal th, .modal td {
            text-align: left;
        }
        #primaryDoctor{
            color: green;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">

        <center>
            <h3>My Doctors</h3>
        </center>
        <br />

        <table id="datatable">
            <thead>
                <tr>
                    <th>DoctorId</th>
                    <th>FirstName</th>
                    <th>HospitalName</th>
                    <th>Address</th>
                    <th>Phone1</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
        <br />
        <center>
            <button id="btnAddDoctor" class="btn btn-primary add-new" data-toggle="modal" data-target="#Modal">Add New Doctor</button>
        </center>

    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="Modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <center>
                                <h4 class="modal-title">Doctor Details</h4>
                                <span id="primaryDoctor"></span>
                            </center>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="txtDoctorId"/>
                            <table class="table">
                                <tr>
                                    <th>First Name:</th>
                                    <td>
                                        <span id="spnFirstName"></span>
                                        <input type="text" id="txtFirstName" class="form-control" placeholder="Enter First Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Last Name:</th>
                                    <td>
                                        <span id="spnLastName"></span>
                                        <input type="text" id="txtLastName" class="form-control" placeholder="Enter Last Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Hospital Name:</th>
                                    <td>
                                        <span id="spnHospitalName"></span>
                                        <select id="ddlHospitals" class="form-control">
                                            <option>Select Hospital</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Speciality:</th>
                                    <td>
                                        <span id="spnSpeciality"></span>
                                        <select id="ddlSpecialities" class="form-control">
                                            <option>Select Speciality</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Address:</th>
                                    <td>
                                        <span id="spnAddress"></span>
                                        <input type="text" id="txtAddress" class="form-control" placeholder="Enter Address" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Contact Number:</th>
                                    <td>
                                        <span id="spnContactNumber"></span>
                                        <input type="text" id="txtContactNumber" class="form-control" placeholder="Enter Contact Number" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Alternative Number:</th>
                                    <td>
                                        <span id="spnAlternativeNumber"></span>
                                        <input type="text" id="txtAlternativeNumber" class="form-control" placeholder="Enter Alternative Number" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>
                                        <span id="spnEmail"></span>
                                        <input type="text" id="txtEmail" class="form-control" placeholder="Enter Email" />
                                    </td>
                                </tr>
                                <tr id="primaryRow">
                                    <th>
                                        <label class="checkbox-inline"><input type="checkbox" id="chkSetPrimary" /> Set Primary</label>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="btnEditDoctor" data-dismiss="modal">Save Changes</button>
                            <button class="btn btn-primary" id="btnAddNewDoctor" data-dismiss="modal">Add Now</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>


@section FooterSection
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/view-doctor-v2.js"></script>
}