@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>HealthCare</title>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Acme|Lobster+Two" rel="stylesheet" />
    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/css/site-style.css" rel="stylesheet" />
</head>
<body class="home-body">
    <div class="overlay">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand active" href="/"><span style="color:red;">H</span>ealth<span style="color:red;">C</span>are.com</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li class="active"><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

            <div class="container">
                <div class="row home">

                    <div class="col-md-2"></div>
                    <div class="col-md-8 home-content">
                        <h2 class="welcome-text"></h2>
                        <br /><br />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <br /><br />
                        <a href="/Register" class="btn btn-success">Register and Become a Member</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/Login" class="btn btn-primary">Already a user? Login now</a>
                    </div>
                    <div class="col-md-2"></div>

                </div>
            </div>

    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script>
        var options = {
            strings: ["Hi there...", "Welcome to HealthCare"],
            typeSpeed: 25,
            backSpeed: 25
        }
        var typed = new Typed(".welcome-text", options);
        $(".typed-cursor").remove();
    </script>
</body>
</html>
