@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>HealthCare | Register</title>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Acme|Lobster+Two" rel="stylesheet" />
    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/css/site-style.css" rel="stylesheet" />
    <style>
        .forms {
            padding-top: 6%;
            color: white;
            min-height: 100vh;
        }

        .btn-register {
            margin-right: 10px;
        }
    </style>
</head>
<body class="register-body">
    <div class="login-page-overlay">
        <div class="container forms">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-overlay">

                        @if (TempData["errorMessage"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error! </strong> @TempData["errorMessage"]
                            </div>
                        }
                        @if (TempData["successMessage"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Success! </strong> @TempData["successMessage"]
                            </div>
                        }

                        <center>
                            <h2>Register and start discovering Healthcare</h2>
                        </center>
                        <br />
                        @using (Html.BeginForm("RegisterRequest", "Home"))
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-4">First Name:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="txtFirstName" name="txtFirstName" type="text" class="form-control" required="required" placeholder="Enter First Name" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br /><br />
                            <div class="form-group">
                                <label class="control-label col-sm-4">Last Name:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="txtLastName" name="txtLastName" type="text" class="form-control" required="required" placeholder="Enter Last Name" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="email">Email:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input id="txtEmail" name="txtEmail" type="email" class="form-control" required="required" placeholder="Enter Email" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="password">Password:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="txtPassword" name="txtPassword" type="password" class="form-control" required="required" placeholder="Enter Password" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label class="control-label col-sm-4">Confirm Password:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="txtConfirmPassword" name="txtConfirmPassword" type="password" class="form-control" required="required" placeholder="ReEnter Password" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <input type="submit" id="btnRegister" class="btn btn-success btn-register" value="Register Now" />
                                    <a href="/Login" class="btn btn-primary btn-login">Login now</a>
                                </div>
                            </div>
                            <br /><br />
                            <center> &copy; copyright Healthcare - @DateTime.Now.Year </center>
                        }
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
